[submodule "edgemanage3"]
	path = edgemanage3
	url = https://github.com/deflect-ca/edgemanage.git
	branch = feature/python3-migration
[submodule "deflect_next_orchestration"]
	path = deflect_next_orchestration
	url = git@github.com:equalitie/deflect-next-orchestration.git
